<a href="https://colab.research.google.com/github/GaelGarciaSanchez/Optativa-Profesional/blob/main/Filtrados%20y%20agrupacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({
    'Nombre':['Ana','Juan','Maria','Carlos','Sofia'],
    'Edad':[25,30,22,28,35],
    'pais':['Madrid','Barcelona','Madrid','Valencia','Barcelona'],
    'Puntuacion':[85,92,78,95,88]
})
print("\nDataframe original:")
print(df)

Dataframe original:
   Nombre  Edad       pais  Puntuacion
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   Maria    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

Filtrado

In [3]:
mayores_25=df[df['Edad']>25]
print("\nPersonas mayores de 25 años:")
print(mayores_25)

Personas mayores de 25 años:
   Nombre  Edad       pais  Puntuacion
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

Agrupacion y agregacion

In [7]:
Resultado=df[df['Edad'] > 25].groupby('pais')['Puntuacion'].max()
print("\nPromedio de puntuacion por pais:")
print(Resultado)

Promedio de puntuacion por pais:
pais
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64