<a href="https://colab.research.google.com/github/GaelGarciaSanchez/Optativa-Profesional/blob/main/Manejos%20de%20las%20dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Numpy libreria fundamental para la computacion de python

Importar pandas y numpy

In [1]:
import pandas as pd
import numpy as np

Crear dataframe con datos sucios

In [7]:
df = pd.DataFrame({
        'A':[1,2,np.nan,4,5],
        'B':[5,6,7,np.nan,9],
        'C':['a','b','c','d','e'],
        'E':["test","train","test","train","foo"] })
print("\nDataframe.")
print(df)

Dataframe.
     A    B  C      E
0  1.0  5.0  a   test
1  2.0  6.0  b  train
2  NaN  7.0  c   test
3  4.0  NaN  d  train
4  5.0  9.0  e    foo

Limpiar datos en data frame

In [9]:
df_clean = df.dropna()
print("\nDataframe sin filas nula.")
print(df_clean)

Dataframe sin filas nula.
     A    B  C      E
0  1.0  5.0  a   test
1  2.0  6.0  b  train
4  5.0  9.0  e    foo

Llenar datos

In [12]:
df_filled = df.fillna(value={'A': df['A'].mean(),'B':df['B'].median()})
print("\nDataframe fillna.")
print(df_filled)

Dataframe fillna.
     A    B  C      E
0  1.0  5.0  a   test
1  2.0  6.0  b  train
2  3.0  7.0  c   test
3  4.0  6.5  d  train
4  5.0  9.0  e    foo

eliminar duplicados

In [14]:
df_nodup = df.drop_duplicates(subset='E')
print("\nDataframe sin duplicados en la columna E.")
print(df_nodup)

Dataframe sin duplicados en la columna E.
     A    B  C      E
0  1.0  5.0  a   test
1  2.0  6.0  b  train
4  5.0  9.0  e    foo

Renombrar columnas

In [15]:
df_renamed = df.rename(columns={'A': 'Alfa', 'B': 'Beta','C':'Charlie','E':'Delta'})
print("\nDataframe con columnas renombradas.")
print(df_renamed)

Dataframe con columnas renombradas.
   Alfa  Beta Charlie  Delta
0   1.0   5.0       a   test
1   2.0   6.0       b  train
2   NaN   7.0       c   test
3   4.0   NaN       d  train
4   5.0   9.0       e    foo