<a href="https://colab.research.google.com/github/GaelGarciaSanchez/Optativa-Profesional/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 6

# **Tipos de Uniones (JOINS en python)**

inner
cross
left
right

In [3]:
import pandas as pd

Crear 2 data frames

In [5]:
df1 = pd.DataFrame({
    'ID':[1,2,3,4],
    'Nombre':['Ana','Juan','Maria','Carlos'],
    'departamento':['Ventas','IT','Marketing','RH']
})
df2 = pd.DataFrame({
    'ID':[3,4,5,6],
    'Salario':[5000,6000,5500,7000]
})

print("Dataframe1")
print(df1)
print("Dataframe2")
print(df2)

Dataframe1
   ID  Nombre departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH
Dataframe2
   ID  Salario
0   3     5000
1   4     6000
2   5     5500
3   6     7000

# **Fusion INNER**

In [6]:
inner_merge=pd.merge(df1,df2,on='ID',how='inner')
print("Fusion INNER")
print(inner_merge)

Fusion INNER
   ID  Nombre departamento  Salario
0   3   Maria    Marketing     5000
1   4  Carlos           RH     6000

# **Fusion Outer**

In [7]:
outer_merge=pd.merge(df1,df2,on='ID',how='outer')
print("Fusion OUTER")
print(outer_merge)

Fusion OUTER
   ID  Nombre departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing   5000.0
3   4  Carlos           RH   6000.0
4   5     NaN          NaN   5500.0
5   6     NaN          NaN   7000.0

# **Fusion Left**

In [8]:
inner_merge=pd.merge(df1,df2,on='ID',how='left')
print("Fusion INNER")
print(inner_merge)

Fusion INNER
   ID  Nombre departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing   5000.0
3   4  Carlos           RH   6000.0

prueba con outer

# **Fusion Right**

In [9]:
outer_merge=pd.merge(df1,df2,on='ID',how='left')
print("Fusion OUTER")
print(outer_merge)

Fusion OUTER
   ID  Nombre departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing   5000.0
3   4  Carlos           RH   6000.0

In [11]:
inner_merge=pd.merge(df1,df2,on='ID',how='right')
print("Fusion INNER")
print(inner_merge)

Fusion INNER
   ID  Nombre departamento  Salario
0   3   Maria    Marketing     5000
1   4  Carlos           RH     6000
2   5     NaN          NaN     5500
3   6     NaN          NaN     7000

dataframe 3

In [13]:
df3 = pd.DataFrame({
    'ID':[7,8],
    'Nombre':['Sofia','Pedro'],
    'departamento':['Finanzas','ventas']
})
concatenated = pd.concat([df1,df3])
print("Concatenacion de Dataframes")
print(concatenated)

Concatenacion de Dataframes
   ID  Nombre departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH
0   7   Sofia     Finanzas
1   8   Pedro       ventas